* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1100px;
  margin: auto;
  height: 100%;
  padding: 15px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif !important;
}
.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head {
  margin-bottom: 10px;
}
.para {
  font-weight: 600;
}
.date {
  display: flex;
  width: 90%;
  justify-content: end;
}
table {
  margin-top: 10px;
  width: 100%;
}
table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
table th {
  font-size: 14px;
}
th,
td {
  justify-content: start;
  padding: 5px 10px;
}
.removeRow td {
  border-bottom: 1px solid transparent;
}
.HeadTable,
.HeadTable th,
.HeadTable tr,
.HeadTable td {
  border: none;
}

.text-center {
  text-align: center;
}
.my-2 {
  margin: 10px 0;
}
.text-xl {
  font-size: 26px;
}
.text-lg {
  font-size: 18px;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.gap-2 {
  gap: 20px;
}
.flexdiv {
  width: 100%;
  display: flex;
}
.w-half {
  width: 50%;
}
.w-full {
  width: 100%;
}
.Footer,
.Footer tr,
.Footer td {
  border: none;
}

.Footer {
  margin-top: 80px;
  text-align: center;
}
.Footer tr {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.Footer td {
  border-top: 1px solid black;
  width: 200px;
}
