*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.container{
    max-width: 1100px;
    height: 100%;
    padding: 15px;
    align-items: center;
    margin: auto;
}
.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head{
    margin-bottom:10px ;
}
.para{
    font-weight: 600;
}
.date{
    display: flex;
    width: 90%;
    justify-content: end;
}
table{
    margin-top: 10px;
    width: 100%;
}
table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    justify-content: start;
    padding: 5px 10px;
}
.flexdiv{
    width: 100%;
    display: flex;
    
}